$theme-color: #272b41;
$theme-color-2: #ff6b6b;
$theme-color-3: #ea5555;
$theme-color-4: #808996;
$theme-color-5: #40CC6F;
$theme-font: 'Encode Sans Expanded', sans-serif;
$theme-font-2: 'Mukta', sans-serif;
$primary-font: 36px;
$default-font: 16px;
$default-font-2: 15px;
$default-font-3: 14px;
$default-font-4: 13px;
$default-font-5: 12px;
$default-font-6: 11px;
$color-light: #fff;
$color-light-grey: #F5F7FC;
$color-dark: #000;
$display: 40px;
$display-2: 24px;
$display-3: 20px;
$display-4: 18px;
$display-5: 30px;
$display-6: 140px;
$display-7: 100px;
$display-8: 60px;
$display-9: 22px;
$display-10: 32px;
$display-11: 21px;
$display-12: 45px;
$display-12: 26px;
$display-13: 28px;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;
$text-height: 27px;
$text-height-2: 30px;
$text-height-3: 36px;
$color: #e4e4e4;
$color-1: #eee;
$color-2: #ddd;
$color-3: #8C43FF;
$color-4: #28d5a7;
$color-5: #f9b851;
$color-6: #CC08E9;
$color-7: #FF8C2A;
$color-8: #bfff02;
$alter-color: #3b5998;
$alter-color-2: #1da1f2;
$alter-color-3: #e1306c;
$alter-color-4: #2877B5;
$alter-color-5: #f00125;
%button-shared {
  font-weight: 600;
  font-size: 16px;
  color: $color-light;
  padding: 12px 25px;
  text-transform: capitalize;
  background-color: $theme-color-2;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
  -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
  box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
  position: relative;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

